In [103]:
###Telstra Service disruption
import os
from matplotlib import pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

def str_to_num(string):
    return int(string.split(" ")[1])
train = pd.read_csv("D:/Data Science/POC/Service Disruption/train.csv")
test = pd.read_csv("D:/Data Science/POC/Service Disruption/test.csv")
event_type = pd.read_csv("D:/Data Science/POC/Service Disruption/event_type.csv")

In [104]:
log_feature = pd.read_csv("D:/Data Science/POC/Service Disruption/log_feature.csv")
resource_type = pd.read_csv("D:/Data Science/POC/Service Disruption/resource_type.csv")
severity_type = pd.read_csv("D:/Data Science/POC/Service Disruption/severity_type.csv")

In [105]:
###EDA
train.head()

      id      location  fault_severity
0  14121  location 118               1
1   9320   location 91               0
2  14394  location 152               1
3   8218  location 931               1
4  14804  location 120               0

In [106]:
print(train.id.nunique())

7381

In [107]:
train.shape

(7381, 3)

In [108]:
print(train["fault_severity"].nunique())

3

In [109]:
print(train["location"].nunique())

929

In [110]:
print(train["fault_severity"].value_counts())

0    4784
1    1871
2     726
Name: fault_severity, dtype: int64

In [111]:
##Combine Traina and Test

train['source' ] = 'train'
test['source'] = 'test'
data = pd.concat([train,test], ignore_index=True)
data.head()

C:\Users\anshuman_mahapatra\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """

   fault_severity     id      location source
0             1.0  14121  location 118  train
1             0.0   9320   location 91  train
2             1.0  14394  location 152  train
3             1.0   8218  location 931  train
4             0.0  14804  location 120  train

In [112]:
print(train.shape)
print(test.shape)
print(data.shape)
print(event_type.shape)
print(log_feature.shape)
print(resource_type.shape)
print(severity_type.shape)

(7381, 4)
(11171, 3)
(18552, 4)
(34083, 2)
(58671, 3)
(22877, 2)
(18552, 2)

In [113]:
print(len(data['location'].unique()))

1126

In [114]:
print(log_feature.head())

     id  log_feature  volume
0  6597   feature 68       6
1  8011   feature 68       7
2  2597   feature 68       1
3  5022  feature 172       2
4  5022   feature 56       1

In [115]:
print(resource_type.head())

     id    resource_type
0  6597  resource_type 8
1  8011  resource_type 8
2  2597  resource_type 8
3  5022  resource_type 8
4  6852  resource_type 8

In [116]:
print(severity_type.head())

     id    severity_type
0  6597  severity_type 2
1  8011  severity_type 2
2  2597  severity_type 2
3  5022  severity_type 1
4  6852  severity_type 1

In [117]:
print(event_type.head())

     id     event_type
0  6597  event_type 11
1  8011  event_type 15
2  2597  event_type 15
3  5022  event_type 15
4  5022  event_type 11

In [118]:
print(event_type.dtypes)
print(data.dtypes)

id            object
event_type    object
dtype: object
fault_severity    float64
id                  int64
location           object
source             object
dtype: object

In [126]:

data.to_csv("D:/Data Science/POC/Service Disruption/data.csv")

In [ ]:
##event_type = event_type.merge(data, on= 'id')
##pd.concat([event_type, data], axis=1, join_axes=[event_type.id])
##event_type.head()
event_type["id1"] = int(str(event_type["id"]))
event_type.dtypes